<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>array_data</key>
	<array>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>Be it a hobby or a passion, finding one's own identity to stand out in the crowd has become crucial to finding one's individuality.</string>
			<key>image_filename</key>
			<string>image1.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>0</integer>
			<key>no_pins</key>
			<integer>0</integer>
			<key>excerpt</key>
			<string>Fashion connoisseurs also emphasise the need to look unique. Fast fashion can interfere with the idea of exclusivity.</string>
			<key>image_filename</key>
			<string>image2.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>International apparel brands and retail groups are fast churning out designs, and with rising middle class income, customers are buying apparel brands that were once considered a treat for the rich.</string>
			<key>image_filename</key>
			<string>image3.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>It is the tricking or treating time of the year and the festival of Halloween has become an annual affair to invest in some really spooky yet stylish costumes. </string>
			<key>image_filename</key>
			<string>image4.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>The market for Halloween costumes is growing in a big way with all kinds of new dress-up themes and ideas available in store for adults, kids, and even pets.</string>
			<key>image_filename</key>
			<string>image5.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>The festival is said to boost the sales of costumes and candies the most and is celebrated with a lot of pomp.</string>
			<key>image_filename</key>
			<string>image6.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>Indian art lives from about the 3rd millennium BC to the modern times. People, in India are not aware of most of the art forms as they are too vast.</string>
			<key>image_filename</key>
			<string>image7.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>After basking in the summer trends for 2014, its time to find out about the reigning styles and silhouettes for fall fashion and embrace them with confidence.</string>
			<key>image_filename</key>
			<string>image7.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>It's almost time to bid adieu to the bright flip-flops and breezy cotton dresses and welcome the fall.</string>
			<key>image_filename</key>
			<string>image11.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>The latest in fall classics like coats and boots, new colours and prints, which are emerging for this seasons staples make the stylish.</string>
			<key>image_filename</key>
			<string>image10.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>Shed the winter blues with the new and know the fresh trends to stay in style this.</string>
			<key>image_filename</key>
			<string>image9.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>Men's fashion in the 2000s is now as indefinable as women's fashion has been for the past few years. Gone are the days when men couldn't look fashionable with those uninteresting shirts and mundane trousers. </string>
			<key>image_filename</key>
			<string>image8.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
