<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>array_data</key>
	<array>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>Fashion is cyclic and so are trends. Time and again there are styles and looks that are re-invented by designers or return to the runway in their original essence.</string>
			<key>image_filename</key>
			<string>image3.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>The world of fashion constantly witnesses something new from time to time. A new term has been coined in the history of fashion, and from the looks of it, it is here to stay!</string>
			<key>image_filename</key>
			<string>image8.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>The term is Muslim fashion. Islamic revivalist movement insisted its men and women to dress modestly and religiously. But during the 1980s and 1990s, as the movement started getting heterogeneous, the covered styles of dressing began to transform into more fashionable styles.</string>
			<key>image_filename</key>
			<string>image10.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>The end of every year brings a fresh new start for the upcoming one. Fashion is no different, and 2014 is here with latest trends and styles one must embrace and enjoy this year.</string>
			<key>image_filename</key>
			<string>image11.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>0</integer>
			<key>no_pins</key>
			<integer>0</integer>
			<key>excerpt</key>
			<string>Today I choose life. Every morning when I wake up I can choose joy, happiness, negativity, pain... To feel the freedom that comes from being able to continue to make mistakes and choices - today I choose to feel life, not to deny my humanity but embrace it.</string>
			<key>image_filename</key>
			<string>image2.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>While some trends of 2013 continue to linger this year too, while for some, one will need to make room for in their wardrobe.</string>
			<key>image_filename</key>
			<string>image2.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>Baring the mid-riff and showing the perfectly trimmed abs with the obsession of crop tops is incessant this spring season.</string>
			<key>image_filename</key>
			<string>image7.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>Fashion always bucks the trend and keeps coming back. Be it polka dots of fifties or flared jeans of seventies, it is not surprising to see fashion houses and fashion aficionados revisit and revive the fashion from yester-years.</string>
			<key>image_filename</key>
			<string>image11.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>Like the polka dots, satin trousers, flare denims, leggings, tartan fabric is also once again cynosure of all eyes for all the right reasons.</string>
			<key>image_filename</key>
			<string>image7.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>Tartan has always been an integral part of Scottish culture and it is a national identification mark of Scotland.</string>
			<key>image_filename</key>
			<string>image10.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>As we head into another fast-paced year in the apparel industry, we give you a head start with our top 10 insights for the 12 months ahead.</string>
			<key>image_filename</key>
			<string>image9.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
		<dict>
			<key>no_likes</key>
			<integer>10</integer>
			<key>no_pins</key>
			<integer>2</integer>
			<key>excerpt</key>
			<string>Here are the ten things shaping the fashion landscape in 2014, bound for commercial success and soon to be taking up column </string>
			<key>image_filename</key>
			<string>image1.jpeg</string>
			<key>image_size</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>450</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
